.App {
  text-align: center;
}

.heading{
  color:blue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:5vh;
}
img{
  height:380px;
  max-width: 500px;
}
.details{
  margin:0 65vh  5vh 65vh;
}
